
.loginContainer{
  margin: none;
  padding: none;
  width:100%;
  min-height: 90vh;
  background-color: #21252B;
  align-items: center;
  justify-content: center;
  display: flex;

}

.loginBox {
  width: 60%;
  height:60vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;

  background-color: #31353B;
}
.loginBox input {
  border: none;
  width: 50%;
  height: 5vh;
  margin-bottom: 10px;
  padding: 5px;
    color: #ABB1BD;
  background-color: #21252B;
}
.loginBox button {
  color: #9BA1AD;
  border: none;
  width: 40%;
  height: 5vh;
  margin-top: 10px;
  padding: 5px;
  background-color: #21252B;
}

.loginBox h3 {
  color: #7B818D;
  margin-bottom: 5%;


}

.loginBox button:hover {
  cursor: pointer;
  background-color: #11151B;
}
